<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="" />
        <meta name="author" content="Charlie Ticer" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" asp-append-version="true" />

        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

        @RenderSection("styles", required: false)

        <script src="https://kit.fontawesome.com/23b351e9f4.js" data-auto-replace-svg="nest" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/moment.js/moment.min.js" type="text/javascript" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)

        <title>Fortune Street Analyzer@(ViewData["Title"])</title>
    </head>

    <body>
        @RenderBody()
    </body>
</html>
