@font-face
{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@media (min-width: 1366px)
{
    #program-description > div:first-of-type
    {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
}

h1
{
    font-size: 3.5rem;
}

h2
{
    font-size: 2.5rem;
}

h1, h2
{
    margin-bottom: 15px;
}

.alert-dismissible .btn-close
{
    padding-top: 0;
    top: auto;
}

body > div > div
{
    margin: auto;
    max-width: 1366px;
}

#header
{
    background-color: #333;
    color: #FFF;
    font-size: 1.5rem;
}

#alert-container
{
    font-size: 1.25rem;
}

#alert-container > .alert
{
    margin-bottom: 0;
    border-radius: 0;
}

#program-description
{
    margin: 25px 0;
}

#header > div > div:last-of-type > div:not(:last-of-type), #train-section > div:last-of-type > div:not(:last-of-type), #predict-section > div:last-of-type > div:not(:last-of-type)
{
    margin-bottom: 25px;
}

.alert > div:last-of-type > div:not(:last-of-type), #train-section > div:last-of-type > div > div:not(:last-of-type), #predict-section > div:last-of-type > div > div:not(:last-of-type)
{
    margin-bottom: 10px;
}

.loading
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading > div:first-of-type
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loading > div:first-of-type > div:first-of-type
{
    margin-right: 5px;
}

.loading > div:first-of-type > div:first-of-type > .svg-inline--fa
{
    font-size: 18px;
}

.loading > div:first-of-type > div:last-of-type > h4
{
    margin: 0;
}

#program-description > div:first-of-type > div
{
    margin: 10px;
    flex: 1;
    background-color: #EEE;
}

#header > div, #alert-container > .alert, #program-description > div:first-of-type > div
{
    padding: 3rem;
}

#train-previous-analyzer-instances
{
    margin: 25px 0;
}

#train-previous-analyzer-instances .svg-inline--fa.disabled
{
    cursor: not-allowed;
}

#train-previous-analyzer-instances .svg-inline--fa:not(.disabled)
{
    cursor: pointer;
}

#train-previous-analyzer-instances > div:not(:last-of-type)
{
    margin-bottom: 5px;
}

#train-previous-analyzer-instances > div:first-of-type
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#train-previous-analyzer-instances > div:first-of-type > div:nth-of-type(2)
{
    margin: 0 10px;
    font-size: 20px;
}

#train-previous-analyzer-instances > div:nth-of-type(2) > div:last-of-type
{
    text-align: center;
}

#train-previous-analyzer-instances > div:nth-of-type(2) > div:not(:last-of-type)
{
    margin-bottom: 10px;
}

.previous-analyzer-instance-name
{
    font-size: 1.5em;
}

.create-analyzer-instance
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.create-analyzer-instance > div:first-of-type
{
    flex: 1;
}

.create-analyzer-instance > div:not(:last-of-type)
{
    margin-right: 5px;
}

#footer
{
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}

#footer > .disclaimer
{
    font-weight: bold;
    font-style: italic;
}

#footer a
{
    color: #000;
    text-decoration: none;
}

#footer a:hover
{
    text-decoration: underline;
}
