@font-face
{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@media (min-width: 1366px)
{
    body > div
    {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }

    #board-subpanel
    {
        display: flex;
        flex-direction: column;
    }

    #board-subpanel > div:last-of-type
    {
        flex: 1;
        height: 100%;
    }

    #standings-subpanel > div:last-of-type > div > div:first-of-type
    {
        flex: 2;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(2)
    {
        flex: 6;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(3)
    {
        display: flex;
        flex-direction: row;
        flex: 20;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(3) > div > div:first-of-type
    {
        font-size: 14px;
        text-transform: uppercase;
    }

    #standings-subpanel > div:last-of-type > div > div:last-of-type
    {
        flex: 5;
        height: 100%;
    }
}

@media (max-width: 1365px)
{
    #output-panel > div
    {
        margin-bottom: 25px;
    }

    #board-subpanel > div:first-of-type
    {
        height: 300px;
    }

    #standings-subpanel > div:last-of-type > div
    {
        flex-wrap: wrap;
    }

    #standings-subpanel > div:last-of-type > div:not(:last-of-type)
    {
        margin-bottom: 10px;
    }

    #standings-subpanel > div:last-of-type > div > div:first-of-type
    {
        flex: 1;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(2)
    {
        flex: 10;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(3)
    {
        padding-left: 10px;
        flex: 1 0 100%;
        order: 4;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(3) > div
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(3) > div > div:first-of-type
    {
        flex: 1;
    }

    #standings-subpanel > div:last-of-type > div > div:nth-of-type(4)
    {
        flex: 3;
	    height: 54px;
    }
}

html, body, body > div, h4
{
    margin: 0;
    padding: 0;
}

img
{
    margin: auto;
    height: 100%;
}

sub
{
    bottom: 0;
}

sup
{
    top: -1em;
}

sub, sup
{
    font-size: 0.5em;
}

body > div
{
    height: 100vh;
}

.alert
{
    margin: 0;
    border-radius: unset;
    z-index: 1;
}

.alert > div:last-of-type > div:not(:last-of-type)
{
    margin-bottom: 10px;
}

.alert-dismissible .btn-close
{
    padding-top: 0;
    top: auto;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn
{
    pointer-events: all;
}

.disabled .btn-outline-primary:not(.active):hover
{
    color: #0D6EFD;
    background-color: transparent;
}

.disabled:not(#player-turn-determination):not(.die-roll-selection)
{
    cursor: not-allowed;
}

#output-panel
{
    display: flex;
    flex-direction: column;
    flex: 3;
}

#board-subpanel
{
    flex: 3;
}

#board-subpanel > div:first-of-type
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow: auto;
}

#board-subpanel > div:first-of-type > div > div
{
    position: absolute;
}

#board-subpanel-spaces > div
{
    border: 5px outset #84827B;
    border-radius: 5px;
}

#board-subpanel-spaces > div > div:first-of-type
{
    position: relative;
    width: 100%;
    height: 100%;
}

#board-subpanel-spaces > div > div:first-of-type > div
{
    position: absolute;
}

#board-subpanel-spaces > div > div:first-of-type > .space-icon
{
    opacity: 0.75;
}

#board-subpanel-spaces > div > div:first-of-type > .space-icon > span[data-fa-i2svg]
{
    width: 80%;
    height: 80%;
}

#board-subpanel-spaces > div > div:first-of-type > .shop-unowned-value
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

#board-subpanel-spaces > div > div:first-of-type > .shop-unowned-value > div:first-of-type
{
    width: 100%;
    background-color: #000;
    color: #FFF;
    opacity: 0.90;
    text-align: center;
}

#board-subpanel-spaces > div > div:first-of-type > .shop-owned-price
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-size: 24px;
}

#board-subpanel-spaces > div > div:first-of-type > .shop-owned-price > div:first-of-type
{
    width: 100%;
    background-color: #000;
    color: #FFF;
    opacity: 0.90;
    text-align: right;
}

#board-subpanel-spaces > div > div:first-of-type > .character-markers
{
    position: relative;
    width: 100%;
    height: 100%;
}

#board-subpanel-spaces > div > div:first-of-type > .character-markers > div
{
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

#board-subpanel-spaces > div > .popup-dialog
{
    display: none;
    position: absolute;
    z-index: 1;
}

#board-subpanel-spaces > div > .popup-dialog.space-information
{
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.95);
    color: #FFF;
    border-bottom: 5px solid #888;
}

#board-subpanel-spaces > div > .popup-dialog.space-information.space-shop
{
    width: 345px;
}

#board-subpanel-spaces > div > .popup-dialog > div:first-of-type
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div
{
    padding: 3px 10px 3px 3px;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div:first-of-type > .die-rolls > div
{
    width: 36px;
    height: 36px;
    border: 3px solid #000;
    border-radius: 3px;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div:last-of-type
{
    padding: 0 25px;
}

#board-subpanel-spaces > div > .space-information.space-shop > div:first-of-type > div:last-of-type
{
    padding: 0 10px;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div:first-of-type
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #888;
    font-size: 1.50em;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div:last-of-type
{
    padding-top: 50px;
}

#board-subpanel-direction-choices > div
{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#board-subpanel-direction-choices > div > span[data-fa-i2svg] > .svg-inline--fa
{
    position: absolute;
    left: 50%;
    top: 25%;
    width: 50%;
    height: 50%;
}

#board-subpanel-direction-choices > div > span[data-fa-i2svg] > .svg-inline--fa > path
{
    visibility: visible;
}

#board-subpanel-direction-choices > div > span[data-fa-i2svg] > .svg-inline--fa > path:last-of-type
{
    cursor: pointer;
}

#board-subpanel-spaces-remaining
{
    position: fixed;
    left: 1.5%;
    top: 1.5%;
}

#board-subpanel-user-dialog
{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
}

#board-subpanel-user-dialog.confirmation-dialog
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#board-subpanel-user-dialog > div:first-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #FFF;
    text-align: center;
}

#board-subpanel-user-dialog.confirmation-dialog > div:first-of-type > div:first-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#board-subpanel-user-dialog > div:first-of-type > div:first-of-type > div:last-of-type
{
    font-size: 2em;
}

#board-subpanel-user-dialog.confirmation-dialog > div:first-of-type > div:first-of-type > div:last-of-type > div:last-of-type > div > button
{
    font-size: 1em;
}

#board-subpanel-user-dialog.confirmation-dialog > div:first-of-type > div:first-of-type > div:last-of-type > div:last-of-type > div, #board-subpanel-user-dialog.confirmation-dialog > div:first-of-type > div:first-of-type > div:last-of-type > div:last-of-type > div > button
{
    width: 100%;
}

#standings-subpanel > div:last-of-type
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#standings-subpanel > div:last-of-type > div
{
    border-radius: 10px;
}

#standings-subpanel > div:last-of-type > div > div:first-of-type
{
    padding-left: 10px;
    font-size: 36px;
}

#standings-subpanel > div:last-of-type > div > div:nth-of-type(2)
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#standings-subpanel > div:last-of-type > div > div:nth-of-type(2) > .character-portrait-icon
{
    margin-right: 10px;
    flex-basis: 48px;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card
{
    width: 27px;
    height: 36px;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type
{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type
{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0.5;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:last-of-type
{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div
{
    position: absolute;
    width: 50%;
    height: 50%;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div:first-of-type
{
    left: 0;
    top: 0;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div:nth-of-type(2)
{
    left: 50%;
    top: 0;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div:nth-of-type(3)
{
    left: 0;
    top: 50%;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div:last-of-type
{
    left: 50%;
    top: 50%;
}

#standings-subpanel > div:last-of-type > div > div:last-of-type > .suit-card > div:first-of-type > div:first-of-type > div > span[data-fa-i2svg] > .svg-inline--fa
{
    width: 100%;
    height: 100%;
}

#settings-panel
{
    flex: 2;
    overflow-y: auto;
}

#settings-panel > div:last-of-type
{
    position: relative;
}

#settings-panel > div:last-of-type > .alert
{
    position: sticky;
}

#settings-panel > div:last-of-type > .alert.notification
{
    top: 0;
}

#settings-panel > div:last-of-type > .alert.status
{
    bottom: 0;
}

#settings-content > div
{
    padding: 40px 0;
}

#settings-content > div:first-of-type
{
    padding-top: 0;
}

#settings-content > div:last-of-type
{
    padding-bottom: 0;
}

#settings-content > div:not(:last-of-type)
{
    border-bottom: 2px solid #888;
}

#settings-content > div:not(#turns):not(.loading) > div:not(:last-of-type)
{
    margin-bottom: 20px;
}

#player-turn-determination > div:first-of-type
{
    display: flex;
    flex-direction: row;
    text-align: center;
}

#player-turn-determination > div:first-of-type > div
{
    flex: 1;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type > div
{
    display: flex;
    flex-direction: column;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type > div:first-of-type > span
{
    margin-right: 1px;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type > div:last-of-type > span
{
    margin-left: 1px;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type > div > span:not(:last-of-type)
{
    margin-bottom: 1px;
}

#player-turn-determination > div:first-of-type > div > div:last-of-type > div > span > button
{
    padding: .25rem .5rem;
    font-size: 36px;
}

#player-turn-determination.disabled > div:first-of-type > div > div:last-of-type > div > span > button
{
    cursor: not-allowed;
}

#player-turn-determination.disabled > div:first-of-type > div > div:last-of-type > div > span > button:focus
{
    box-shadow: none;
}

#player-turn-determination.disabled > div:first-of-type > div > div:last-of-type > div > span > button:not(.active)
{
    opacity: 0.65;
}

#turns > div:not(:last-of-type)
{
    margin-bottom: 50px;
}

#turns > div > div:first-of-type
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#turns > div > div:first-of-type > div:first-of-type
{
    flex: 1;
}

#turns > div > div:first-of-type > div:not(:last-of-type)
{
    margin-right: 10px;
}

#turns > div > div:not(:first-of-type) > .player-information > div:first-of-type
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#turns > div > div:not(:first-of-type) > .player-information > div:first-of-type > .character-portrait-icon
{
    margin-right: 10px;
}

#turns > div > div:not(:first-of-type):not(:last-of-type)
{
    margin-bottom: 25px;
}

#output-panel, #settings-panel
{
    padding: 0 10px;
}

#standings-subpanel, #settings-panel
{
    display: flex;
    flex-direction: column;
}

#standings-subpanel > div:last-of-type, #settings-panel > div:last-of-type
{
    flex: 1;
}

.header
{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.loading
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading > div:first-of-type
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loading > div:first-of-type > div:first-of-type
{
    margin-right: 5px;
}

.loading > div:first-of-type > div:first-of-type > .svg-inline--fa
{
    font-size: 18px;
}

.loading > div:first-of-type > div:last-of-type > h4
{
    margin: 0;
}

.horizontal-items
{
    display: flex;
    flex-direction: row;
}

.horizontal-items > div:first-of-type
{
    flex: 1;
}

.horizontal-items > div:not(:last-of-type)
{
    margin-right: 10px;
}

.color-selection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-selection > div
{
    margin: 5px;
    flex-basis: 15%;
}

.color-selection > div > div
{
    margin: auto;
    width: 75px;
    height: 75px;
    border: 1px solid #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.color-selection:not(.disabled) > div > div:not(.selected):hover
{
    opacity: 0.5
}

.color-selection > div > .selected
{
    opacity: 1;
}

.color-selection.disabled > div > div
{
    cursor: not-allowed;
}

.confirmation-actions > div
{
    margin: 5px;
}

.center-items
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.player-information
{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    width: 100%;
    font-size: 24px;
    color: #FFF;
    text-shadow: 0 0 3px #000;
}

.character-portrait-icon
{
    height: 64px;
}

.character-portrait-icon.small
{
    height: 48px;
}

.character-portrait-icon.large
{
    height: 96px;
}

.die-rolls
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.die-rolls > div
{
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #FFF;
    border: 5px solid #000;
    border-radius: 5px;
}

.die-rolls > div:not(:last-of-type)
{
    margin-right: 5px;
}

.die-rolls > div > div
{
    position: absolute;
    width: 16.6667%;
    height: 16.6667%;
    border-radius: 50%;
    background-color: #000;
}

.die-roll-selection > div
{
    cursor: pointer;
}

.die-roll-selection > div:not(.active):not(:hover)
{
    opacity: 0.65;
}

.space-icon
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.space-icon > span[data-fa-i2svg] > .svg-inline--fa
{
    width: 100%;
    height: 100%;
}

.shop-description
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shop-description > div
{
    flex: 1;
}

.shop-description > div:first-of-type > .space-icon > span[data-fa-i2svg]
{
    width: 50%;
    height: 50%;
}

.shop-description > div:last-of-type
{
    text-align: right;
}

#board-subpanel-spaces > div > .space-information > div:first-of-type > div:last-of-type, .shop-description, .shop-description > div:last-of-type > div > div:last-of-type
{
    font-size: 1.25em;
}

span[data-fa-i2svg]:not(.inactive) > .fa-spade
{
    color: #1491E3;
}

span[data-fa-i2svg]:not(.inactive) > .fa-heart
{
    color: #FF8BE9;
}

span[data-fa-i2svg]:not(.inactive) > .fa-diamond
{
    color: #FFF02C;
}

span[data-fa-i2svg]:not(.inactive) > .fa-club
{
    color: #2DD936;
}

span[data-fa-i2svg] > .fa-shop, span[data-fa-i2svg].inactive
{
    color: #333;
}
